In [38]:
import pandas as pd

In [39]:
df=pd.read_csv("attrition.csv")

In [40]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,3,4,1,6,3,3,2,2,2,2

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  OverTime                  1470 non-null   object
 22  PercentSalaryHike         1470 non-null   int64
 23  PerformanceRating         1470 non-null   int64
 24  RelationshipSatisfaction  1470 non-null   int64
 25  StockOptionLevel          1470 non-null   int64
 26  TotalWorkingYears         1470 non-null   int64
 27  TrainingTimesLastYear     1470 non-null   int64
 28  WorkLifeBalance           1470 non-null   int64
 29  YearsAtCompany            1470 non-null   int64
 30  YearsInCurrentRole        1470 non-null   int64
 31  YearsSinceLastPromotion   1470 non-null   int64
 32  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(25), object(8)
memory usage: 379.1+ KB

In [42]:
df.describe(include=["object"])

,Attrition,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,OverTime
count,1470,1470,1470,1470,1470,1470,1470,1470
unique,2,3,3,6,2,9,3,2
top,No,Travel_Rarely,Research & Development,Life Sciences,Male,Sales Executive,Married,No
freq,1233,1043,961,606,882,326,673,1054

In [43]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [44]:
cols=df.select_dtypes(include=["object"]).columns.tolist()
for col in cols:
    print("-----------"+col+"-----------")
    print(df[col].unique())
    df[col]=le.fit_transform(df[col])
    print(df[col].unique())

-----------Attrition-----------
['Yes' 'No']
[1 0]
-----------BusinessTravel-----------
['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
[2 1 0]
-----------Department-----------
['Sales' 'Research & Development' 'Human Resources']
[2 1 0]
-----------EducationField-----------
['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']
[1 4 3 2 5 0]
-----------Gender-----------
['Female' 'Male']
[0 1]
-----------JobRole-----------
['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources']
[7 6 2 4 0 3 8 5 1]
-----------MaritalStatus-----------
['Single' 'Married' 'Divorced']
[2 1 0]
-----------OverTime-----------
['Yes' 'No']
[1 0]

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [46]:
Y=df['Attrition']
X=df.drop(['Attrition'],axis=1)

In [47]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [48]:
model=GaussianNB()
model.fit(x_train,y_train)
y_pred_test=model.predict(x_test)
accuracy_score(y_test,y_pred_test)

0.8333333333333334

In [50]:
y_pred_train=model.predict(x_train)
accuracy_score(y_train,y_pred_train)

0.8027210884353742

In [73]:
model1=DecisionTreeClassifier(max_depth=3)
model1.fit(x_train,y_train)
y_pred_test1=model1.predict(x_test)
accuracy_score(y_test,y_pred_test1)

0.8673469387755102

In [66]:
y_pred_train1=model1.predict(x_train)
accuracy_score(y_train,y_pred_train1)

0.8630952380952381