In [94]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [95]:
df=pd.read_csv("attrition.csv")
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,3,4,1,6,3,3,2,2,2,2

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  OverTime                  1470 non-null   object
 22  PercentSalaryHike         1470 non-null   int64
 23  PerformanceRating         1470 non-null   int64
 24  RelationshipSatisfaction  1470 non-null   int64
 25  StockOptionLevel          1470 non-null   int64
 26  TotalWorkingYears         1470 non-null   int64
 27  TrainingTimesLastYear     1470 non-null   int64
 28  WorkLifeBalance           1470 non-null   int64
 29  YearsAtCompany            1470 non-null   int64
 30  YearsInCurrentRole        1470 non-null   int64
 31  YearsSinceLastPromotion   1470 non-null   int64
 32  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(25), object(8)
memory usage: 379.1+ KB

In [97]:
le=LabelEncoder()

In [98]:
cols=df.select_dtypes(include=["object"]).columns.tolist()
for col in cols:
    print("-----------"+col+"-----------")
    print(df[col].unique())
    df[col]=le.fit_transform(df[col])
    print(df[col].unique())

-----------Attrition-----------
['Yes' 'No']
[1 0]
-----------BusinessTravel-----------
['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
[2 1 0]
-----------Department-----------
['Sales' 'Research & Development' 'Human Resources']
[2 1 0]
-----------EducationField-----------
['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']
[1 4 3 2 5 0]
-----------Gender-----------
['Female' 'Male']
[0 1]
-----------JobRole-----------
['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources']
[7 6 2 4 0 3 8 5 1]
-----------MaritalStatus-----------
['Single' 'Married' 'Divorced']
[2 1 0]
-----------OverTime-----------
['Yes' 'No']
[1 0]

In [99]:
cols=df.columns.tolist()
for col in cols:
    print(col+": "+str(np.mean(df[col])))

Age: 36.923809523809524
Attrition: 0.16122448979591836
BusinessTravel: 1.607482993197279
DailyRate: 802.4857142857143
Department: 1.260544217687075
DistanceFromHome: 9.19251700680272
Education: 2.912925170068027
EducationField: 2.2476190476190476
EmployeeCount: 1.0
EmployeeNumber: 1024.865306122449
EnvironmentSatisfaction: 2.721768707482993
Gender: 0.6
HourlyRate: 65.89115646258503
JobInvolvement: 2.7299319727891156
JobLevel: 2.0639455782312925
JobRole: 4.458503401360544
JobSatisfaction: 2.7285714285714286
MaritalStatus: 1.0972789115646258
MonthlyIncome: 6502.931292517007
MonthlyRate: 14313.103401360544
NumCompaniesWorked: 2.6931972789115646
OverTime: 0.2829931972789116
PercentSalaryHike: 15.209523809523809
PerformanceRating: 3.1537414965986397
RelationshipSatisfaction: 2.7122448979591836
StockOptionLevel: 0.7938775510204081
TotalWorkingYears: 11.279591836734694
TrainingTimesLastYear: 2.7993197278911564
WorkLifeBalance: 2.7612244897959184
YearsAtCompany: 7.0081632653061225
YearsInCurrentRole: 4.229251700680272
YearsSinceLastPromotion: 2.1877551020408164
YearsWithCurrManager: 4.12312925170068

- DailyRate, EmployeeNumber, MonthlyIncome, MonthlyRate should be scaled
- but lets check correlation first

In [100]:
df.corr().Attrition.sort_values()

TotalWorkingYears          -0.171063
JobLevel                   -0.169105
YearsInCurrentRole         -0.160545
MonthlyIncome              -0.159840
Age                        -0.159205
YearsWithCurrManager       -0.156199
StockOptionLevel           -0.137145
YearsAtCompany             -0.134392
JobInvolvement             -0.130016
JobSatisfaction            -0.103481
EnvironmentSatisfaction    -0.103369
WorkLifeBalance            -0.063939
TrainingTimesLastYear      -0.059478
DailyRate                  -0.056652
RelationshipSatisfaction   -0.045872
YearsSinceLastPromotion    -0.033019
Education                  -0.031373
PercentSalaryHike          -0.013478
EmployeeNumber             -0.010577
HourlyRate                 -0.006846
BusinessTravel              0.000074
PerformanceRating           0.002889
MonthlyRate                 0.015170
EducationField              0.026846
Gender                      0.029453
NumCompaniesWorked          0.043494
Department                  0.063991
JobRole                     0.067151
DistanceFromHome            0.077924
MaritalStatus               0.162070
OverTime                    0.246118
Attrition                   1.000000
EmployeeCount                    NaN
Name: Attrition, dtype: float64

Among 4 columns only monthly income has relatively higher correlation with attrition
so we can just ignore other 3 columns(DailyRate, EmployeeNumber, MonthlyRate) and need not to scale
##### So we will proceed in following steps
1. So we will try with all columns first
2. then we will scale those 4 columns and try with all columns
3. then we will try with columns having corr value >= 0.15

In [101]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

### 1. With all columns without scaling

In [102]:
Y=df['Attrition']
X=df.drop(['Attrition'],axis=1)

In [103]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [104]:
acc_list_dt=[]
for i in range(1,40):
    model_dt=RandomForestClassifier(n_estimators=i,criterion="entropy",bootstrap=True,max_depth=5,random_state=42)
    model_dt.fit(x_train,y_train)
    y_pred_dt=model_dt.predict(x_test)
    acc_list_dt.append(accuracy_score(y_test,y_pred_dt))
n=np.argmax(acc_list_dt)+1
print('n_estimators=',n)

n_estimators= 5

In [105]:
model=RandomForestClassifier(n_estimators=n,criterion="entropy",bootstrap=True,max_depth=5,random_state=42)
model.fit(x_train,y_train);
y_pred_test=model.predict(x_test)
y_pred_train=model.predict(x_train)
print("test=",accuracy_score(y_test,y_pred_test),", train=",accuracy_score(y_train,y_pred_train))

test= 0.8809523809523809 , train= 0.8690476190476191

### 2. with all columns and with scaling

In [55]:
from sklearn.preprocessing import MinMaxScaler

In [56]:
scalar=MinMaxScaler()
df[['DailyRate', 'EmployeeNumber', 'MonthlyIncome', 'MonthlyRate']]=scalar.fit_transform(df[['DailyRate', 'EmployeeNumber', 'MonthlyIncome', 'MonthlyRate']])

lets check mean values of each columns again

In [57]:
cols=df.columns.tolist()
for col in cols:
    print(col+": "+str(np.mean(df[col])))

Age: 36.923809523809524
Attrition: 0.16122448979591836
BusinessTravel: 1.607482993197279
DailyRate: 0.5014214132324372
Department: 1.260544217687075
DistanceFromHome: 9.19251700680272
Education: 2.912925170068027
EducationField: 2.2476190476190476
EmployeeCount: 1.0
EmployeeNumber: 0.49533880315551526
EnvironmentSatisfaction: 2.721768707482993
Gender: 0.6
HourlyRate: 65.89115646258503
JobInvolvement: 2.7299319727891156
JobLevel: 2.0639455782312925
JobRole: 4.458503401360544
JobSatisfaction: 2.7285714285714286
MaritalStatus: 1.0972789115646258
MonthlyIncome: 0.28930654515624077
MonthlyRate: 0.4906285244473213
NumCompaniesWorked: 2.6931972789115646
OverTime: 0.2829931972789116
PercentSalaryHike: 15.209523809523809
PerformanceRating: 3.1537414965986397
RelationshipSatisfaction: 2.7122448979591836
StockOptionLevel: 0.7938775510204081
TotalWorkingYears: 11.279591836734694
TrainingTimesLastYear: 2.7993197278911564
WorkLifeBalance: 2.7612244897959184
YearsAtCompany: 7.0081632653061225
YearsInCurrentRole: 4.229251700680272
YearsSinceLastPromotion: 2.1877551020408164
YearsWithCurrManager: 4.12312925170068

- hence all the 4 columns values are scaled down
- lets check correlation again

In [58]:
df.corr().Attrition.sort_values()

TotalWorkingYears          -0.171063
JobLevel                   -0.169105
YearsInCurrentRole         -0.160545
MonthlyIncome              -0.159840
Age                        -0.159205
YearsWithCurrManager       -0.156199
StockOptionLevel           -0.137145
YearsAtCompany             -0.134392
JobInvolvement             -0.130016
JobSatisfaction            -0.103481
EnvironmentSatisfaction    -0.103369
WorkLifeBalance            -0.063939
TrainingTimesLastYear      -0.059478
DailyRate                  -0.056652
RelationshipSatisfaction   -0.045872
YearsSinceLastPromotion    -0.033019
Education                  -0.031373
PercentSalaryHike          -0.013478
EmployeeNumber             -0.010577
HourlyRate                 -0.006846
BusinessTravel              0.000074
PerformanceRating           0.002889
MonthlyRate                 0.015170
EducationField              0.026846
Gender                      0.029453
NumCompaniesWorked          0.043494
Department                  0.063991
JobRole                     0.067151
DistanceFromHome            0.077924
MaritalStatus               0.162070
OverTime                    0.246118
Attrition                   1.000000
EmployeeCount                    NaN
Name: Attrition, dtype: float64

no significant change in corr value, thats good (just distribution changed but corr remains same)

In [59]:
Y=df['Attrition']
X=df.drop(['Attrition'],axis=1)

In [60]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [61]:
acc_list_dt=[]
for i in range(1,40):
    model_dt=RandomForestClassifier(n_estimators=i,criterion="entropy",bootstrap=True,max_depth=5,random_state=42)
    model_dt.fit(x_train,y_train)
    y_pred_dt=model_dt.predict(x_test)
    acc_list_dt.append(accuracy_score(y_test,y_pred_dt))
n=np.argmax(acc_list_dt)+1
print('n_estimators=',n)

n_estimators= 5

In [62]:
model=RandomForestClassifier(n_estimators=n,criterion="entropy",bootstrap=True,max_depth=5,random_state=42)
model.fit(x_train,y_train);
y_pred_test=model.predict(x_test)
y_pred_train=model.predict(x_train)
print("test=",accuracy_score(y_test,y_pred_test),", train=",accuracy_score(y_train,y_pred_train))

test= 0.8809523809523809 , train= 0.8690476190476191

### 3.  Now with columns having corr value >= 0.15

In [63]:
Y=df['Attrition']
X=df[["TotalWorkingYears" ,"JobLevel", "YearsInCurrentRole", "MonthlyIncome", "Age", "YearsWithCurrManager","MaritalStatus", "OverTime"]]

In [64]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [65]:
acc_list_dt=[]
for i in range(1,40):
    model_dt=RandomForestClassifier(n_estimators=i,criterion="entropy",bootstrap=True,max_depth=3,random_state=42)
    model_dt.fit(x_train,y_train)
    y_pred_dt=model_dt.predict(x_test)
    acc_list_dt.append(accuracy_score(y_test,y_pred_dt))
n=np.argmax(acc_list_dt)+1
print('n_estimators=',n)

n_estimators= 2

In [66]:
model=RandomForestClassifier(n_estimators=n,criterion="entropy",bootstrap=True,max_depth=3,random_state=42)
model.fit(x_train,y_train);
y_pred_test=model.predict(x_test)
y_pred_train=model.predict(x_train)
print("test=",accuracy_score(y_test,y_pred_test),", train=",accuracy_score(y_train,y_pred_train))

test= 0.8707482993197279 , train= 0.8537414965986394

not a significant decrease in accuracy

##### now we will try to find out best parameters using grid search technique

In [67]:
from sklearn.model_selection import GridSearchCV

In [68]:
parameters={'criterion':["entropy", "gini"],"max_depth":list(range(1,20)),"n_estimators":list(range(1,40)),"bootstrap":[True,False]}
grid_search=GridSearchCV(estimator=model,param_grid=parameters,scoring="accuracy",cv=10,n_jobs=-1)
# grid_search=grid_search.fit(x_train,y_train)

In [69]:
grid_search.best_params_

{'bootstrap': False, 'criterion': 'gini', 'max_depth': 7, 'n_estimators': 23}

In [70]:
grid_search.best_score_

0.8639359698681733

In [71]:
model=RandomForestClassifier(n_estimators=23,criterion="gini",bootstrap=False,max_depth=7,random_state=42)
model.fit(x_train,y_train);
y_pred_test=model.predict(x_test)
y_pred_train=model.predict(x_train)
print("test=",accuracy_score(y_test,y_pred_test),", train=",accuracy_score(y_train,y_pred_train))

test= 0.8571428571428571 , train= 0.9124149659863946